/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/10/2020, 06:09:45 PM
    Author     : bryan
*/


.pagina{
    background-color:#FFAA2E;

}    





.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}







/*otroooooo*/

.barra_busqueda{

    background: #007bff;
}

.boton_desplegable {


    display: inline-block;

    padding: 7px 17px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #005cbf;
    border: none;
    border-radius: 10px;
    /*barra gris */
    box-shadow: 0 4px #999;
}
/*el puntero encima*/

.boton_desplegable:hover {background-color: #3e8e41}


/*cuando le das clik */
.boton_desplegable:active {
    background-color: #005cbf;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}
.slider {
    width: 80%;
    /*lineas superiores*/
    margin: 0px auto;
}
/*separacion*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
} 
/*carrucel 10 mejores */ 
/*boton flotante*/
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*buscador*/

.redondeadonorelieve {
    border-radius: 5px;
    border: 1px solid #39c;
}

.search-for-champion{
    width:75%;
    border: 2px solid #896331;
    border-radius: 5px;
    outline:none;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe';
    padding: 5px

}

.search-btn{
    background-color: #937341;
    border: 2px outset #896331;
    font-size: 25px;
    outline: none;
    transition-duration:0.5s;
    width: 50px;
    height: 50px;
    overflow: hidden;
}




/*barra de busqueda */

